In [1]:
from numpy import linalg as LA
import pandas as pd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix
import networkx as nx
import collections
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, log_loss
import warnings
from sklearn.svm import SVC
from sklearn import decomposition
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.mixture import GaussianMixture
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from  sklearn.cluster import KMeans
from sklearn.metrics import roc_curve,auc,roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import  average_precision_score
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA

In [2]:
df = pd.read_csv("usersdata.csv", delimiter = '\t', names = ["ID", "Gender", "Time", "Age", "Label"], index_col = "ID")

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df

        Gender    Time  Age  Label
ID
1            M  0.9000   30      0
2            F  1.0000   20      0
3            M  0.1375   30      0
4            M  0.3875   20      0
5            M  0.0125   20      0
6            M  0.7125   20      0
7            M  0.9250   20      0
8            M  0.7875   20      0
9            M  0.0750   20      0
10           M  0.2875   20      0
11           M  0.1250   20      0
12           F  0.7750   20      0
13           M  0.1500   30      0
14           F  0.0500   10      0
15           M  0.4875   30      0
16           M  0.0750   10      0
17           M  0.3625   30      0
18           M  1.0000   60      0
19           F  0.0750   20      0
20           M  0.0125   30      0
21           M  0.6750   30      0
22           M  0.6125   30      0
23           M  0.1125   20      0
24           M  0.6375   20      0
25           F  0.7375   20      0
26           M  0.6750   30      0
27           F  0.6500   20      0
28           F  0.8250   20      0
29           M  0.2000   20      0
30           M  0.8250   20      0
...        ...     ...  ...    ...
5607419      M  0.0750   50      1
5607420      M  0.2125   20      0
5607421      M  1.0000   30      1
5607422      M  0.5625   50      0
5607423      F  0.1250   30      0
5607424      M  0.6625   40      0
5607425      F  0.0250   20      0
5607426      M  0.0500   60      0
5607427      M  0.4000   20      0
5607428      F  0.0250   30      0
5607429      M  0.2000   20      0
5607430      F  0.0000   20      1
5607431      M  0.7500   50      0
5607432      M  0.1375   20      0
5607433      F  0.2125   30      0
5607434      F  0.0000   20      1
5607435      M  0.4625   20      0
5607436      M  0.0000   20      0
5607437      M  0.9250   50      0
5607438      M  0.6250   40      0
5607439      F  0.6375   20      0
5607440      M  0.8375   30      0
5607441      M  0.8000   40      0
5607442      M  0.5500   20      0
5607443      F  0.6750   30      0
5607444      M  0.0000   30      0
5607445      F  0.3125   20      0
5607446      M  0.6750   40      0
5607447      M  0.2125   20      0
5607448      M  0.7375   20      0

[5607447 rows x 4 columns]

In [4]:
df["Label"].value_counts()

0    5270494
1     336953
Name: Label, dtype: int64

In [5]:
df.sample(frac = 0.01)["Label"].value_counts()

0    52792
1     3282
Name: Label, dtype: int64

In [6]:
# Assign weights to sample equal number of Spam and Ham
df["inv_value_count"] = 0
df["inv_value_count"][df.Label == 1] = 1/df["Label"].value_counts()[1]
df["inv_value_count"][df.Label == 0] = 1/df["Label"].value_counts()[0]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [7]:
# to sample equal number of spam/ham we add weight with inv_value_count columns
df_sample = df.sample(n = 50000, weights = 'inv_value_count').iloc[:, :4]

In [8]:
df_sample.head()

        Gender    Time  Age  Label
ID
4001837      F  0.0500   30      1
37907        M  0.6375   40      0
3328940      M  0.8125   40      0
3286569      M  0.1750   20      0
1423715      M  1.0000   40      0

In [9]:
df_sample["Label"].value_counts()

0    25474
1    24526
Name: Label, dtype: int64

equal number of spam/ham users

In [10]:
# transform categorical features into one-hot-encoding
df_sample_preproc = pd.get_dummies(data = df_sample, columns = ["Age", "Gender"])

In [11]:
df_sample_preproc.head(5)

,Time,Label,Age_10,Age_20,Age_30,Age_40,Age_50,Age_60,Age_70,Gender_F,Gender_M
ID,,,,,,,,,,,
4001837,0.0500,1,0,0,1,0,0,0,0,1,0
37907,0.6375,0,0,0,0,1,0,0,0,0,1
3328940,0.8125,0,0,0,0,1,0,0,0,0,1
3286569,0.1750,0,0,1,0,0,0,0,0,0,1
1423715,1.0000,0,0,0,0,1,0,0,0,0,1

In [12]:
Y_values = df_sample_preproc["Label"]
X_values = df_sample_preproc.drop(["Label"], axis = 1)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_values, Y_values, test_size=0.3)

## KNN

In [25]:
grid_params_knn = {
    'n_neighbors' : [3, 11, 59, 101, 501],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan']
}

In [ ]:
gs_knn = GridSearchCV(KNeighborsClassifier(), grid_params_knn, verbose = 1, cv = 3, n_jobs = -1)
gs_results_knn = gs_knn.fit(X_train, y_train)

Fitting 3 folds for each of 20 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

In [ ]:
print(gs_results_knn.best_score_)
print(gs_results_knn.best_estimator_)
print(gs_results_knn.best_params_)

## Random Forest

In [17]:
grid_params_rf = {
    'bootstrap': [True],
    'max_depth': [2, 5, 10],
    'n_estimators': [10, 20, 50]
}
gs_rf = GridSearchCV(RandomForestClassifier(), grid_params_rf, verbose = 1, cv = 3, n_jobs = -1)
gs_results_rf = gs_rf.fit(X_train, y_train)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:   10.8s finished

In [18]:
print(gs_results_rf.best_score_)
print(gs_results_rf.best_estimator_)
print(gs_results_rf.best_params_)

0.7252571428571428
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
{'bootstrap': True, 'max_depth': 10, 'n_estimators': 20}

## Gradient Boosted Decision Tree

In [19]:
from xgboost import XGBClassifier

In [20]:
xgb = XGBClassifier(
    objective= 'binary:logistic',
    nthread=4,
    seed=42
)

In [22]:
grid_params_xgb = {
    'max_depth': [2, 5, 10],
    'n_estimators': [10, 20, 50, 100],
    'learning_rate': [0.1, 0.01, 0.05]
}

In [23]:
gs_xgb = GridSearchCV(xgb, grid_params_xgb, verbose = 1, cv = 3, n_jobs = -1)
gs_results_xgb = gs_xgb.fit(X_train, y_train)

Fitting 3 folds for each of 36 candidates, totalling 108 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done 108 out of 108 | elapsed:   45.8s finished

In [24]:
print(gs_results_xgb.best_score_)
print(gs_results_xgb.best_estimator_)
print(gs_results_xgb.best_params_)

0.7260857142857143
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=4, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42, silent=True,
       subsample=1)
{'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}